<footer class="page-footer mt-40 orange lighten-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h6 class="white-text">Kids Cooking Paradise</h6>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h6 class="white-text">Links</h6>
                    <ul>
                        <% if (user) { %>
                             <li><a class="grey-text text-lighten-3" href="/logout">Logout</a></li>
                        <% } else { %>
                            <li><a class="grey-text text-lighten-3" href="/signup">Sign Up</a></li>
                            <li><a class="grey-text text-lighten-3" href="/home">Login</a></li>
                     <%} %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Kids Cooking Paradise
                <a class="grey-text text-lighten-4 right" href="https://github.com/kes2401/online-cookbook" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </footer>
    
    <script>
        $( document ).ready(function() {
            $('.modal').modal();
            $('#modal1').on('click', function() {
            });
          });
         </script>
    
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Materialize - Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>