<% include ./header %> 
<body>
    <header class="header-text center-align orange-text text-lighten-2">
        <h1>Welcome to Kids Cooking Paradise</h1>
        <p class="lrg-paragraph-txt"><strong>Click the Recipes button above to browse recipes or sign up below to access full site features</strong></p>
    </header>
    <div class="container col s10 m6 offset-s1 offset-m3 grey lighten-5 content-container" id="login-form">
        <div class="row">
            <h4 class="center-align orange-text text-lighten-2">Sign Up</h4>
            
            <% if (messages) { %>
                <div class="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
                    <%= messages %>.
                  </div>
                  <% } %>
            
            <form action="/signupsubmit" method="POST">
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text text-darken-1">account_circle</i>
                    <input id="username" name="username" type="text" class="validate" autocomplete="off" minlength="6" maxlength="16" pattern="^[a-zA-Z0-9]*$" autofocus>
                    <span class="helper-text" data-error="There's something wrong here..." data-success="This looks ok!">Username: Up to 16 alphanumeric characters allowed (minimum 6), no spaces</span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text text-darken-1">email</i>
                    <input id="email" name="email" type="email" class="validate" autocomplete="off">
                    <span class="helper-text" data-error="There's something wrong here..." data-success="This looks ok!">Email: Enter a valid email address</span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text text-darken-1">lock_open</i>
                    <input id="password" type="password" name="password" class="validate" minlength="8" maxlength="16" pattern='^[a-zA-Z0-9!@#$&()\\-`.+,/\"]*$'>
                    <span class="helper-text" data-error="There's something wrong here..." data-success="This looks ok!">Password: Must be 8-16 characters long, of alphanumeric and special characters</span>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix orange-text text-darken-1">lock_outline</i>
                    <input id="preconfirm" name="preconfirm" type="password" class="validate" minlength="8" maxlength="16" pattern='^[a-zA-Z0-9!@#$&()\\-`.+,/\"]*$'>
                    <span class="helper-text" data-error="There's something wrong here..." data-success="This looks ok!">Re-Confirm Password: Must be 8-16 characters long, of alphanumeric and special characters</span>
                </div>
                <button class="btn waves-effect waves-light submit-btn" type="submit" name="action" formaction="/signupsubmit">Submit</button>
            </form>
            <p class="center-align orange-text text-lighten-2 sml-paragraph-txt mt-20">Already signed up? Log in <a href="/home">Here</a></p>
        </div>
    </div>
</body>
    <% include ./footer %>